#lists{
    text-decoration: none;
    color: rgb(211, 206, 206) !important;
}
.fst,.fst1{
    max-width: 400px !important;
    margin: auto;
}
.fst p,.fst1 p{
    line-height: 35px !important;
}
.thd{
    /* border: 3px solid gray; */
    /* background-color: rgb(196, 189, 189); */
    padding: 40px;
}
.fst{
    background-color: #3f51b5 !important;
    color: white !important;
}
.fst1{
    background-color: #3f51b5 !important;
    color: white !important;
}
.back{
    border: none !important;
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
